@page {
  size: auto;
}
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

body,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

button,
[role="button"],
input[type="checkbox"],
input[type="checkbox"] + label,
input[type="radio"],
input[type="radio"] + label,
input[type="submit"],
select,
summary {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

[type="email"],
[type="password"],
[type="text"] {
  width: 100%;
}

a {
  color: #6c757d;
  text-decoration: none;
}
a:hover {
  color: #343a40;
  text-decoration: none;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
