@font-face {
  font-family: "Friz Quadrata";
  src: url("../fonts/FrizQua-ReguOS.eot");
  src: url("../fonts/FrizQua-ReguOS.eot?#iefix") format("embedded-opentype"), url("../fonts/FrizQua-ReguOS.woff2") format("woff2"), url("../fonts/FrizQua-ReguOS.woff") format("woff"), url("../fonts/FrizQua-ReguOS.ttf") format("truetype"), url("../fonts/FrizQua-ReguOS.svg#FrizQua-ReguOS") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Friz Quadrata";
  src: url("../fonts/FrizQua-ReguItalOS.eot");
  src: url("../fonts/FrizQua-ReguItalOS.eot?#iefix") format("embedded-opentype"), url("../fonts/FrizQua-ReguItalOS.woff2") format("woff2"), url("../fonts/FrizQua-ReguItalOS.woff") format("woff"), url("../fonts/FrizQua-ReguItalOS.ttf") format("truetype"), url("../fonts/FrizQua-ReguItalOS.svg#FrizQua-ReguItalOS") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Friz Quadrata Std";
  src: url("../fonts/FrizQuadrataStd.eot");
  src: url("../fonts/FrizQuadrataStd.eot?#iefix") format("embedded-opentype"), url("../fonts/FrizQuadrataStd.woff2") format("woff2"), url("../fonts/FrizQuadrataStd.woff") format("woff"), url("../fonts/FrizQuadrataStd.ttf") format("truetype"), url("../fonts/FrizQuadrataStd.svg#FrizQuadrataStd") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Friz";
  src: url("../fonts/FrizQuadrataBold.eot");
  src: url("../fonts/FrizQuadrataBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FrizQuadrataBold.woff2") format("woff2"), url("../fonts/FrizQuadrataBold.woff") format("woff"), url("../fonts/FrizQuadrataBold.ttf") format("truetype"), url("../fonts/FrizQuadrataBold.svg#FrizQuadrataBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Colors Of Autumn";
  src: url("../fonts/ColorsOfAutumn.eot");
  src: url("../fonts/ColorsOfAutumn.eot?#iefix") format("embedded-opentype"), url("../fonts/ColorsOfAutumn.woff2") format("woff2"), url("../fonts/ColorsOfAutumn.woff") format("woff"), url("../fonts/ColorsOfAutumn.ttf") format("truetype"), url("../fonts/ColorsOfAutumn.svg#ColorsOfAutumn") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "American Captain";
  src: url("AmericanCaptain.eot");
  src: url("AmericanCaptain.eot?#iefix") format("embedded-opentype"), url("AmericanCaptain.woff2") format("woff2"), url("AmericanCaptain.woff") format("woff"), url("AmericanCaptain.ttf") format("truetype"), url("AmericanCaptain.svg#AmericanCaptain") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "American Captain_1";
  src: url("AmericanCaptain_1.eot");
  src: url("AmericanCaptain_1.eot?#iefix") format("embedded-opentype"), url("AmericanCaptain_1.woff2") format("woff2"), url("AmericanCaptain_1.woff") format("woff"), url("AmericanCaptain_1.ttf") format("truetype"), url("AmericanCaptain_1.svg#AmericanCaptain") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
