.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex.ftop {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.flex.fbot {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex.flft {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.flex.frgt {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.rflex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.rflex.rftop {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.rflex.rfbot {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.rflex.rflft {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.rflex.rfrgt {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.grid-cont {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.grid-cont.gtop {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.grid-cont.gbot {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
.grid-cont.glft {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.grid-cont.grgt {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.table.ctr,
.table.lft,
.table.rgt {
  width: auto;
}
.table.lft {
  margin-left: 0;
}
.table.rgt {
  margin-right: 0;
}
.table .valign {
  display: table-cell;
  vertical-align: middle;
}
.table .valign.top {
  vertical-align: top;
}
.table .valign.bot {
  vertical-align: bottom;
}

.img {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.img:before,
.img:after {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (min-width: 992px) {
  .img.prlax {
    background-attachment: fixed;
  }
}
.img.con {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.img.con:before,
.img.con:after {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.img.itop {
  background-position: top;
}
.img.itop:before,
.img.itop:after {
  background-position: top;
}
.img.ibot {
  background-position: bottom;
}
.img.ibot:before,
.img.ibot:after {
  background-position: bottom;
}
.img.ilft {
  background-position: left;
}
.img.ilft:before,
.img.ilft:after {
  background-position: left;
}
.img.irgt {
  background-position: right;
}
.img.irgt:before,
.img.irgt:after {
  background-position: right;
}
.img.ilt {
  background-position: left top;
}
.img.ilt:before,
.img.ilt:after {
  background-position: left top;
}
.img.irt {
  background-position: right top;
}
.img.irt:before,
.img.irt:after {
  background-position: right top;
}
.img.ilb {
  background-position: left bottom;
}
.img.ilb:before,
.img.ilb:after {
  background-position: left bottom;
}
.img.irb {
  background-position: right bottom;
}
.img.irb:before,
.img.irb:after {
  background-position: right bottom;
}

.talign {
  text-align: center;
}
.talign.tlft {
  text-align: left;
}
.talign.trgt {
  text-align: right;
}
.talign.tjust {
  text-align: justify;
}

.balign {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.balign.blft {
  margin-left: 0;
}
.balign.brgt {
  margin-right: 0;
}

.mt-025 {
  margin-top: 0.25em;
}

.mb-025 {
  margin-bottom: 0.25em;
}

.mt-05 {
  margin-top: 0.5em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mt-075 {
  margin-top: 0.75em;
}

.mb-075 {
  margin-bottom: 0.75em;
}

.mt-10 {
  margin-top: 1em;
}

.mb-10 {
  margin-bottom: 1em;
}

.mt-125 {
  margin-top: 1.25em;
}

.mb-125 {
  margin-bottom: 1.25em;
}

.xbul {
  list-style: none;
  padding-left: 0;
}

.pd50 {
  padding: 50px 0;
}

.boxfx {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.txtfx {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.modal-open {
  position: fixed;
  width: 100%;
}
