html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "arial", sans-serif;
}

a,
abbr,
address,
article,
aside,
b,
bdi,
bdo,
blockquote,
body,
button,
caption,
cite,
code,
data,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figcaption,
footer,
form,
header,
i,
input,
ins,
kbd,
label,
legend,
li,
main,
mark,
nav,
ol,
optgroup,
option,
output,
p,
pre,
q,
s,
samp,
section,
select,
span,
strong,
summary,
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
wbr {
  font-size: inherit;
}

a,
abbr,
address,
article,
aside,
b,
bdi,
bdo,
blockquote,
body,
button,
caption,
cite,
code,
data,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figcaption,
footer,
form,
header,
i,
input,
ins,
kbd,
label,
legend,
li,
main,
mark,
nav,
ol,
optgroup,
option,
output,
p,
pre,
q,
s,
samp,
section,
select,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
wbr {
  line-height: inherit;
}

a,
abbr,
address,
article,
aside,
b,
bdi,
bdo,
blockquote,
body,
button,
caption,
cite,
data,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figcaption,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
ins,
label,
legend,
li,
main,
mark,
nav,
ol,
optgroup,
option,
output,
p,
q,
s,
section,
select,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
wbr {
  font-family: inherit;
}

h1,
.h1 {
  line-height: 1.2;
  font-size: 2.5rem;
}
@media only screen and (min-width: 992px) {
  h1,
  .h1 {
    font-size: calc(2.5rem + 1.2vw);
  }
}

h2,
.h2 {
  line-height: 1.2;
  font-size: 2.25rem;
}
@media only screen and (min-width: 992px) {
  h2,
  .h2 {
    font-size: calc(2.25rem + 1vw);
  }
}

h3,
.h3 {
  line-height: 1.2;
  font-size: 2rem;
}
@media only screen and (min-width: 992px) {
  h3,
  .h3 {
    font-size: calc(2rem + 0.8vw);
  }
}

h4,
.h4 {
  line-height: 1.2;
  font-size: 1.75rem;
}
@media only screen and (min-width: 992px) {
  h4,
  .h4 {
    font-size: calc(1.75rem + 0.6vw);
  }
}

h5,
.h5 {
  line-height: 1.2;
  font-size: 1.5rem;
}
@media only screen and (min-width: 992px) {
  h5,
  .h5 {
    font-size: calc(1.5rem + 0.4vw);
  }
}

h6,
.h6 {
  line-height: 1.2;
  font-size: 1.25rem;
}
@media only screen and (min-width: 992px) {
  h6,
  .h6 {
    font-size: calc(1.25rem + 0.2vw);
  }
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fs-11 {
  font-size: 1.1rem;
}

.fs-12 {
  font-size: 1.2rem;
}

.fs-13 {
  font-size: 1.3rem;
}

.fs-14 {
  font-size: 1.4rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-17 {
  font-size: 1.7rem;
}

.fs-18 {
  font-size: 1.8rem;
}

.fs-19 {
  font-size: 1.9rem;
}

.fs-20 {
  font-size: 2rem;
}

.f-friz {
  font-family: "Friz Quadrata", serif;
}

.f-frizStd {
  font-family: "Friz Quadrata Std", serif;
}

.f-friz700 {
  font-family: "Friz", serif;
}

.f-coa {
  font-family: "Colors Of Autumn", cursive;
}

.f-amcap {
  font-family: "American Captain", sans-serif;
}

.f-amcap1 {
  font-family: "American Captain_1", sans-serif;
}

.f-ironman {
  font-family: "IRON MAN OF WAR 001C NCV", sans-serif;
}

.f-ttSquares {
  font-family: "TT Squares Condensed", sans-serif;
}

.f-chalk {
  font-family: "DJB Chalk It Up", cursive;
}

.f-shadow {
  font-family: "Shadows Into Light", cursive;
}

.f-lato {
  font-family: "Lato", sans-serif;
}

.f-basker {
  font-family: "Libre Baskerville", serif;
}

.f-nunito {
  font-family: "Nunito", sans-serif;
}

.f-satisfy {
  font-family: "Satisfy", cursive;
}
