html {
  font: 16px/1.5 "arial", sans-serif;
}

a,
abbr,
address,
article,
aside,
b,
bdo,
body,
button,
caption,
cite,
data,
dd,
del,
details,
dfn,
dialog,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
ins,
label,
legend,
li,
main,
mark,
nav,
ol,
optgroup,
option,
output,
p,
pre,
q,
s,
samp,
section,
select,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var {
  font: inherit;
}

address,
em,
i,
var {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

code,
kbd,
samp {
  font-family: monospace;
}

small,
sub,
sup {
  font-size: 0.5em;
}

h1,
.h1 {
  line-height: 1.2;
  font-size: 2.5rem;
}
@media only screen and (min-width: 992px) {
  h1,
  .h1 {
    font-size: calc(2.5rem + 1vw);
  }
}

h2,
.h2 {
  line-height: 1.2;
  font-size: 2.25rem;
}
@media only screen and (min-width: 992px) {
  h2,
  .h2 {
    font-size: calc(2.25rem + 0.9vw);
  }
}

h3,
.h3 {
  line-height: 1.2;
  font-size: 2rem;
}
@media only screen and (min-width: 992px) {
  h3,
  .h3 {
    font-size: calc(2rem + 0.8vw);
  }
}

h4,
.h4 {
  line-height: 1.2;
  font-size: 1.75rem;
}
@media only screen and (min-width: 992px) {
  h4,
  .h4 {
    font-size: calc(1.75rem + 0.7vw);
  }
}

h5,
.h5 {
  line-height: 1.2;
  font-size: 1.5rem;
}
@media only screen and (min-width: 992px) {
  h5,
  .h5 {
    font-size: calc(1.5rem + 0.6vw);
  }
}

h6,
.h6 {
  line-height: 1.2;
  font-size: 1.25rem;
}
@media only screen and (min-width: 992px) {
  h6,
  .h6 {
    font-size: calc(1.25rem + 0.5vw);
  }
}
