body {
  position: relative;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(hsl(211, 69%, 26%)),
    color-stop(hsl(208, 7%, 46%)),
    to(hsl(343, 46%, 29%))
  );
  background-image: -webkit-linear-gradient(
    left,
    hsl(211, 69%, 26%),
    hsl(208, 7%, 46%),
    hsl(343, 46%, 29%)
  );
  background-image: -moz-linear-gradient(
    left,
    hsl(211, 69%, 26%),
    hsl(208, 7%, 46%),
    hsl(343, 46%, 29%)
  );
  background-image: -o-linear-gradient(
    left,
    hsl(211, 69%, 26%),
    hsl(208, 7%, 46%),
    hsl(343, 46%, 29%)
  );
  background-image: linear-gradient(
    to right,
    hsl(211, 69%, 26%),
    hsl(208, 7%, 46%),
    hsl(343, 46%, 29%)
  );
}

legend {
  padding: 0 0.5vh;
}

ol {
  padding-left: 3vmin;
}

li {
  text-align: left;
}
