body {
  position: relative;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#14406f),
    color-stop(#6c757d),
    to(#6b283b)
  );
  background-image: -webkit-linear-gradient(left, #14406f, #6c757d, #6b283b);
  background-image: -moz-linear-gradient(left, #14406f, #6c757d, #6b283b);
  background-image: -o-linear-gradient(left, #14406f, #6c757d, #6b283b);
  background-image: linear-gradient(to right, #14406f, #6c757d, #6b283b);
}

legend {
  padding: 0 0.5vh;
}

ol {
  padding-left: 3vmin;
}

li {
  text-align: left;
}
