.container,
.container-fl {
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem;
}

@media only screen and (min-width: 576px) {
  .container {
    padding: 0;
    max-width: calc(576px * 0.9);
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: calc(768px * 0.9);
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: calc(992px * 0.9);
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: calc(1200px * 0.9);
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: calc(1440px * 0.9);
  }
}
