header {
  height: 100vh;
  background-color: var(--lightTeal);
  text-align: center;
  border: 30px solid var(--darkTeal);
  border-radius: 200px;
}

header .container {
  height: 100%;
}

header h1 {
  font-size: 50px;
  color: var(--darkTeal);
  font-weight: 700;
}

header h1:hover span {
  visibility: hidden;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

header h1:hover + h2 {
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

header h1 span {
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

header h2 {
  font-size: 50px;
  visibility: hidden;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

header p {
  margin: 20px 0;
  text-align: center;
}

header a {
  font-size: 1.5rem;
  color: var(--darkTeal2);
  margin-top: 25px;
}

header a:hover {
  color: var(--lightTeal2);
}

@media only screen and (max-width: 1399px) {
  header {
    border-width: 15px;
  }

  header p {
    text-align: justify;
  }
}

@media only screen and (max-width: 991px) {
  header {
    border-width: 10px;
  }
}

@media only screen and (max-width: 767px) {
  header {
    border-radius: 150px;
  }
}

@media only screen and (max-width: 481px) {
  header {
    border-radius: 100px;
  }

  header h1,
  header h2 {
    font-size: 30px;
  }
}
