label[for="falcon-pos"] {
  top: 0;
  left: 0;
}

#falcon-pos:checked ~ label {
  top: 10vmin;
  left: 20vmin;
}

label[for="black-widow-pos"] {
  right: 0;
}

#black-widow-pos:checked ~ label {
  right: 20vmin;
}

label[for="ant-man-pos"] {
  top: 0;
}

#ant-man-pos:checked ~ label {
  top: 70vmin;
}

label[for="iron-man-pos"] {
  right: 0;
}

#iron-man-pos:checked ~ label {
  right: 10vmin;
}

label[for="hawkeye-e7-pos"] {
  top: 0;
}

#hawkeye-e7-pos:checked ~ label {
  top: 10vmin;
}

label[for="vision-pos"] {
  left: 0;
  bottom: 0;
}

#vision-pos:checked ~ label {
  left: 10vmin;
  bottom: 20vmin;
}

label[for="scarlet-witch-pos"] {
  top: 0;
}

#scarlet-witch-pos:checked ~ label {
  top: 10vmin;
  z-index: 2;
}

label[for="black-panther-pos"] {
  left: 0;
}

#black-panther-pos:checked ~ label {
  left: 10vmin;
}

label[for="cap-america-pos"] {
  top: 0;
  right: 0;
}

#cap-america-pos:checked ~ label {
  top: 10vmin;
  right: 10vmin;
  z-index: 2;
}

label[for="spiderman-g2-pos"] {
  bottom: 0;
}

#spiderman-g2-pos:checked ~ label {
  bottom: 20vmin;
}

label[for="hawkeye-h7-pos"] {
  top: 0;
  right: 0;
}

#hawkeye-h7-pos:checked ~ label {
  top: 10vmin;
  right: 10vmin;
  z-index: 2;
}
