.sec-modal {
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#343a40),
    color-stop(#f8f9fa),
    to(#67b2b2)
  );
  background-image: -webkit-linear-gradient(
    top left,
    #343a40,
    #f8f9fa,
    #67b2b2
  );
  background-image: -moz-linear-gradient(top left, #343a40, #f8f9fa, #67b2b2);
  background-image: -o-linear-gradient(top left, #343a40, #f8f9fa, #67b2b2);
  background-image: linear-gradient(to bottom right, #343a40, #f8f9fa, #67b2b2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.sec-modal.hide {
  visibility: hidden;
  opacity: 0;
}

.sec-modal .cont {
  position: relative;
  min-height: 100vh;
}

.sec-modal .wrap-login {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.sec-modal .wrap-login.hide {
  visibility: hidden;
  opacity: 0;
}

.sec-modal .wrap-login img {
  width: 55px;
}

.sec-modal .form-login,
.sec-modal .form-signup {
  width: 50%;
}

#open-signup-btn {
  text-decoration: underline;
}

.sec-modal .wrap-signup {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.sec-modal .wrap-signup.show {
  visibility: visible;
  opacity: 1;
}

.sec-modal .wrap-signup img {
  width: 50px;
}

#back-signup-btn span {
  position: relative;
  right: 0;
}

#back-signup-btn:hover span {
  right: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
