main .grid-cont {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 415px 250px;
  grid-gap: 15px;
}

main .wrap-accounts {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(52, 58, 64, 0.3)),
    color-stop(40%, rgba(248, 249, 250, 0.3))
  );
  background-image: -webkit-linear-gradient(
    top left,
    rgba(52, 58, 64, 0.3),
    rgba(248, 249, 250, 0.3) 60%
  );
  background-image: -moz-linear-gradient(
    top left,
    rgba(52, 58, 64, 0.3),
    rgba(248, 249, 250, 0.3) 60%
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(52, 58, 64, 0.3),
    rgba(248, 249, 250, 0.3) 60%
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(52, 58, 64, 0.3),
    rgba(248, 249, 250, 0.3) 60%
  );
}

main .wrap-acc-table {
  height: 340px;
}

#accounts-wrap.hide,
#add-newaccount-wrap.hide,
#expense-wrap.hide,
#connections-wrap.hide {
  display: none;
}

#load-data-btn:hover,
#acc-table td:first-child:hover,
#acc-table td span:hover,
#owner-transaction-btn:hover,
#owner:hover,
#owner-acc-num:hover,
#add-connections-btn:hover {
  color: #67b2b2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#owner,
#acc-table td span,
#acc-table td i {
  cursor: pointer;
}

main #accounts-wrap table {
  table-layout: auto;
  width: 100%;
}

/* td,
th {
  border: 1px solid #000;
} */

main #accounts-wrap table th:first-child,
main #accounts-wrap table td:first-child {
  width: 16%;
}

main #accounts-wrap table th:nth-child(2) {
  width: 44.3%;
}

main #accounts-wrap table td:nth-child(2) {
  width: 45%;
}

main #accounts-wrap table th:nth-child(3) {
  width: 13.8%;
}

main #accounts-wrap table td:nth-child(3) {
  width: 14%;
}

main #accounts-wrap table th:nth-child(4) {
  width: 19.7%;
}

main #accounts-wrap table td:nth-child(4) {
  width: 20%;
}

main #accounts-wrap table th:last-child {
  padding-right: 18px;
}

main #accounts-wrap table td:last-child {
  padding-right: 10px;
}

main #accounts-wrap table td[colspan="5"] {
  width: auto;
  padding: 0;
}

#acc-table td:first-child,
#owner-acc-num {
  cursor: grab;
}

#acc-table td:first-child:active,
#owner-acc-num:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

main .wrap-add-account {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(60%, rgba(248, 249, 250, 0.3)),
    to(rgba(103, 178, 178, 0.3))
  );
  background-image: -webkit-linear-gradient(
    top left,
    rgba(248, 249, 250, 0.3) 60%,
    rgba(103, 178, 178, 0.3)
  );
  background-image: -moz-linear-gradient(
    top left,
    rgba(248, 249, 250, 0.3) 60%,
    rgba(103, 178, 178, 0.3)
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(248, 249, 250, 0.3) 60%,
    rgba(103, 178, 178, 0.3)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(248, 249, 250, 0.3) 60%,
    rgba(103, 178, 178, 0.3)
  );
}

main .wrap-connections-table {
  height: 292px;
}

main .wrap-withdraw {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(80%, rgba(248, 249, 250, 0.3)),
    to(rgba(103, 178, 178, 0.3))
  );
  background-image: -webkit-linear-gradient(
    top left,
    rgba(248, 249, 250, 0.3) 80%,
    rgba(103, 178, 178, 0.3)
  );
  background-image: -moz-linear-gradient(
    top left,
    rgba(248, 249, 250, 0.3) 80%,
    rgba(103, 178, 178, 0.3)
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(248, 249, 250, 0.3) 80%,
    rgba(103, 178, 178, 0.3)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(248, 249, 250, 0.3) 80%,
    rgba(103, 178, 178, 0.3)
  );
}

main .wrap-deposit {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(20%, rgba(248, 249, 250, 0.3)),
    to(rgba(103, 178, 178, 0.3))
  );
  background-image: -webkit-linear-gradient(
    top left,
    rgba(248, 249, 250, 0.3) 20%,
    rgba(103, 178, 178, 0.3)
  );
  background-image: -moz-linear-gradient(
    top left,
    rgba(248, 249, 250, 0.3) 20%,
    rgba(103, 178, 178, 0.3)
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(248, 249, 250, 0.3) 20%,
    rgba(103, 178, 178, 0.3)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(248, 249, 250, 0.3) 20%,
    rgba(103, 178, 178, 0.3)
  );
}

.wrap-send {
  background: rgba(103, 178, 178, 0.3);
}

main .table {
  height: 90%;
}
