@charset "UTF-8";

html {
  font-size: 3vmin;
  font-family: "DJB Chalk It Up", cursive;
  color: #f3fcf6;
}

button {
  position: relative;
  background: transparent;
  border: 0;
  color: #f3fcf6;
}

button:before {
  content: ".";
  font-size: 0;
  position: absolute;
  background-image: url(../../../assets/img/line-white.png);
  width: 125%;
  height: 100%;
  top: 2vmin;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 480px) {
  button:before {
    top: 3vmin;
  }
}

button:hover:before {
  visibility: visible;
  opacity: 1;
}

.cboard {
  border: 35px solid #5f5642;
  background-image: url(../../../assets/img/board.jpg);
}

main {
  min-height: 100vh;
  padding: 20px;
}

.wrap-player-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.wrap-player-overlay * {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}

.wrap-player-overlay.hide {
  visibility: hidden;
  opacity: 0;
}

.wrap-player-overlay.hide * {
  visibility: hidden;
  opacity: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e4dcdd;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: ".";
  font-size: 0;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: #f3fcf6;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#mark-checker:checked + .slider {
  background: #5f5642;
}

#mark-checker:checked + .slider:before {
  left: 30px;
}

.five {
  position: relative;
}

.five:before {
  content: ".";
  font-size: 0;
  position: absolute;
  background-image: url(../../../assets/img/slant.png);
  width: 560%;
  height: 100%;
  right: -5px;
}

.wrap-btn {
  width: 50%;
}

.btn-prev,
.btn-next {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.btn-prev.show,
.btn-next.show {
  visibility: visible;
  opacity: 1;
}

.btn-next {
  float: right;
}

.board {
  display: -ms-grid;
  display: grid;
  grid-gap: 2vmin;
  gap: 2vmin;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-rows: (15vmin) [3];
  -ms-grid-columns: (15vmin) [3];
  grid-template: repeat(3, 15vmin) / repeat(3, 15vmin);
  background-image: url(../../../assets/img/board-grid.png);
}

.box {
  position: relative;
}

.box.empty {
  cursor: pointer;
}

.board.x .empty:hover:before,
.board.o .empty:hover:before {
  opacity: 0.5;
}

.board.x .empty:hover:before,
.board.o .empty:hover:before,
.box.x:before,
.box.o:before {
  font-size: 12vmin;
  position: absolute;
}

.board.x .empty:hover:before,
.box.x:before {
  content: "X";
}

.board.o .empty:hover:before,
.box.o:before {
  content: "O";
}

#history-wrap p.strike {
  text-decoration: line-through;
}

#history {
  display: none;
}

#history:checked ~ label[for="history"] {
  z-index: 1;
}

#history:checked ~ #history-wrap {
  visibility: visible;
  opacity: 1;
}

label[for="history"] {
  position: relative;
  display: block;
}

@media only screen and (min-width: 992px) {
  #history + label[for="history"] {
    cursor: auto;
  }

  label[for="history"] span:nth-child(2) {
    display: none;
  }
}

#console {
  font-size: 2vmin;
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 2.5vmin;
  }

  .cboard {
    border-width: 20px;
  }

  .cont [class*="gcol-"]:nth-child(2) {
    position: static;
  }

  #history-wrap {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }

  label[for="history"] span:first-child {
    display: none;
  }

  #console {
    display: none;
  }

  #board-wrap {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }

  #board-wrap.hide {
    visibility: hidden;
    opacity: 0;
  }

  #tooltip {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 3vmin;
  }

  main {
    padding: 10px;
  }
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 4vmin;
  }
}
