.wrap-quotes {
  background-image: url(../../../assets/img/galaxy.jpg);
  min-height: 450px;
  padding: 40px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@media only screen and (max-width: 480px) {
  .sec-banner .wrap-quotes p {
    font-size: 35px;
  }
}
