#advice {
  width: 150px;
}

#sos-form {
  width: 50%;
}

@media only screen and (max-width: 575px) {
  #sos-form {
    width: 70%;
  }
}

#sos-name,
#sos-message {
  width: 81%;
}

#sos-number {
  width: 50%;
}

#sos-message {
  resize: none;
}

@media only screen and (max-width: 480px) {
  #sos-form {
    width: 100%;
  }

  #sos-name,
  #sos-message {
    width: 100%;
  }

  #sos-number {
    margin-top: 5px;
    width: 70%;
  }
}

.select-box {
  position: relative;
  bottom: 2px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  border: 1px solid #343a40;
  padding: 1px 2px;
  background: #f8f9fa;
}

.select-box i {
  position: absolute;
  z-index: 1;
  right: 0;
}

.select-box .selected {
  position: relative;
  z-index: 2;
  cursor: pointer;
  max-height: 24px;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: text-bottom;
}

.select-box .selected.active ~ .search-box input {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.select-box .selected.active ~ .options-container {
  visibility: visible;
  max-height: 250px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .search-box {
  position: relative;
}

.select-box .search-box input[type*="text"] {
  z-index: 2;
  width: 200px;
  position: absolute;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
  margin-top: 5px;
  margin-left: -3px;
}

.select-box .options-container {
  position: absolute;
  width: 200px;
  overflow: hidden;
  background: #f8f9fa;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  margin-top: 35px;
  margin-left: -3px;
}

.select-box .options-container .option {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.select-box .options-container .option:hover {
  background: #6c757d;
}

.select-box .options-container .option.hide {
  display: none;
}

.select-box .options-container .option input[type*="radio"] {
  display: none;
}

.select-box .options-container .option label {
  cursor: pointer;
}

#login-form {
  width: 15%;
  height: 199.5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#login-form.hide {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

#admin-settings-form {
  width: 70%;
  margin: auto;
}

#admin-change-match-msg.fa-check {
  color: green;
}

#admin-change-match-msg.fa-times {
  color: red;
}
