#advice-wrap,
#bored-wrap,
#sos-wrap {
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

#modal-wrap.advice #advice-wrap,
#modal-wrap.bored #bored-wrap,
#modal-wrap.sos #sos-wrap {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.wrap-modal {
  background: rgba(52, 58, 64, 0.8);
}

.wrap-modal {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.wrap-modal.show {
  visibility: visible;
  opacity: 1;
}

.wrap-modal-inner {
  width: 420px;
  height: auto;
  padding: 25px;
  background: #fff;
  border: 2px solid #3ea650;
}

.wrap-modal form,
.wrap-modal ul {
  padding-right: 20px;
}

.wrap-modal ul {
  margin-right: 40px;
}

.wrap-modal i[id*="-btn"] {
  float: right;
}

#table-wrap {
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  background: rgba(248, 249, 250, 0.9);
  border: 3px solid #3ea650;
}

#table-wrap.show {
  visibility: visible;
  opacity: 1;
  height: 500px;
}

#sos-table.hide,
#whitelist-table.hide {
  display: none;
}
