#story-btn:checked ~ label[for="story-btn"] {
  color: #a4abbd;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#story-btn:checked ~ label[for="tooltips-btn"] {
  z-index: 1;
}

#story-btn:checked ~ #story-modal,
#tooltips-btn:checked ~ #tooltips-modal {
  visibility: visible;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

@media not all and (pointer: coarse) {
  #story-btn:hover ~ label[for="story-btn"] {
    color: #a4abbd;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }

  #story-btn:hover ~ label[for="tooltips-btn"] {
    z-index: 1;
  }

  #story-btn:hover ~ #story-modal,
  #tooltips-btn:hover ~ #tooltips-modal {
    visibility: visible;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
  }
}

label[for="story-btn"] {
  position: relative;
  z-index: 4;
  right: 30vmin;
  font-size: 2.5vmin;
}

#story-modal .modal-inner {
  width: 95vmin;
  font-size: 3vmin;
  position: relative;
  top: 5vmin;
}

#story-modal legend {
  font-size: 3.5vmin;
}

.p-quote {
  font-size: 2.5vmin;
  display: inline-block;
  position: relative;
  right: 0.5vmin;
}

#tooltips-btn:checked ~ label[for="tooltips-btn"] img {
  background: #a4abbd;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#tooltips-btn:checked ~ #tooltips-modal {
  z-index: 5;
}

@media not all and (pointer: coarse) {
  #tooltips-btn:hover ~ label[for="tooltips-btn"] img {
    background: #a4abbd;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }

  #tooltips-btn:hover ~ #tooltips-modal {
    z-index: 5;
  }
}

label[for="tooltips-btn"] {
  position: relative;
  z-index: 6;
  vertical-align: middle;
  left: 30vmin;
}

#tooltips-img {
  height: 4vmin;
  -webkit-border-radius: 2vmin;
  -moz-border-radius: 2vmin;
  border-radius: 2vmin;
}

#tooltips-modal .modal-inner {
  width: 91vmin;
  font-size: 3.5vmin;
}

#tooltips-modal legend {
  font-size: 4.5vmin;
}

#tooltips-modal img {
  height: 6vmin;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.tc,
#tooltips-modal fieldset:first-child {
  color: #14406f;
}

.ti,
#tooltips-modal fieldset:nth-child(2) {
  color: #6b283b;
}
