.wrap-sure {
  display: none;
  width: 62vmin;
  top: -3vmin;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: hsl(350, 16%, 70%);
  padding: 3vmin 3vmin;
  -webkit-border-radius: 2vmin;
  -moz-border-radius: 2vmin;
  border-radius: 2vmin;
  border: 1vmin solid hsl(343, 46%, 29%);
}

.modal-overlay {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background: hsla(210, 10%, 23%, 0.502);
  z-index: 3;
}

.modal-overlay fieldset {
  border-width: 0.3vmin;
  -webkit-margin-start: 0.2vmin;
  -moz-margin-start: 0.2vmin;
  margin-inline-start: 0.2vmin;
  -webkit-margin-end: 0.2vmin;
  -moz-margin-end: 0.2vmin;
  margin-inline-end: 0.2vmin;
}

.modal-inner {
  background: hsl(223, 16%, 69%);
  padding: 2vmin;
}

#story-modal .modal-inner {
  width: 95vmin;
  font-size: 3vmin;
  position: relative;
  top: 5vmin;
}

#story-modal legend {
  font-size: 3.5vmin;
}

#tooltips-modal .modal-inner {
  width: 91vmin;
  font-size: 3.5vmin;
}

#tooltips-modal legend {
  font-size: 4vmin;
}

#tooltips-modal img {
  height: 6vmin;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.tc,
#tooltips-modal fieldset:first-child {
  color: hsl(211, 69%, 26%);
}

.ti,
#tooltips-modal fieldset:nth-child(2) {
  color: hsl(343, 46%, 29%);
}

#chess-newgame-header #story-modal .modal-inner {
  top: 0;
  width: 80vmin;
  font-size: 3.5vmin;
}

#chess-newgame-header #story-modal legend {
  font-size: 4.5vmin;
}

#story-main #story-modal .modal-inner {
  top: 2vmin;
}
