.sec-video {
  background-image: url(../../../assets/img/triton-fans.jpg);
}

.sec-video .wrap-overlay {
  background: hsla(0, 0%, 0%, 0.502);
}

.sec-video .wrap-laptop {
  position: relative;
  width: 52.2vh;
  margin: 0 auto;
  padding: 5vh 0;
  z-index: 1;
}

.sec-video .wrap-laptop:before {
  content: ".";
  font-size: 0;
  position: absolute;
  width: 75vh;
  height: 75vh;
  background-image: url(../../../assets/img/triton-laptop.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: -7.9vh;
  left: -11.45vh;
  z-index: -1;
}

@media only screen and (max-width: 991px) {
  .sec-video .wrap-laptop {
    padding: 65px 0;
  }

  .sec-video .wrap-laptop:before {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .sec-video .wrap-laptop {
    width: 48.4vh;
  }
}

.sec-video iframe {
  width: 100%;
  height: 30vh;
  -webkit-box-shadow: 10px 0 20px 0 hsl(189, 100%, 40%),
    -10px 0 20px 0 hsl(189, 100%, 40%);
  -moz-box-shadow: 10px 0 20px 0 hsl(189, 100%, 40%),
    -10px 0 20px 0 hsl(189, 100%, 40%);
  box-shadow: 10px 0 20px 0 hsl(189, 100%, 40%),
    -10px 0 20px 0 hsl(189, 100%, 40%);
}

@media only screen and (min-width: 992px) {
  .sec-video .cont {
    min-height: calc(100vh - 286px);
  }

  .sec-video .wrap-laptop {
    height: 60vh;
  }

  .sec-video iframe {
    -webkit-animation: pulsing 2s linear infinite;
    -moz-animation: pulsing 2s linear infinite;
    -o-animation: pulsing 2s linear infinite;
    animation: pulsing 2s linear infinite;
  }
}

@media only screen and (max-width: 480px) {
  .sec-video .wrap-laptop {
    width: 30.4vh;
  }

  .sec-video iframe {
    height: 17vh;
  }
}
