.sec-features {
  padding: 44px 0;
}

@media only screen and (max-width: 767px) {
  .sec-features [class*="gcol"] {
    margin-top: 10px;
  }
}

.sec-features h2 span,
.sec-features h5 {
  color: #00aecd;
}

.sec-features sup {
  font-size: 0.5em;
}
