.landing-page-main {
  background-image: url(../../../assets/img/predator-bg.jpeg);
}

.landing-page-main .wrap-overlay {
  background: hsla(0, 0%, 0%, 0.8);
}

.landing-page-main .btn-white {
  padding: 10px 20px;
  font-size: 20px;
  margin: 0 10px;
}

#return:checked ~ label {
  position: relative;
  z-index: -1;
}

#return:checked ~ .wrap-login-question {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.landing-page-main .wrap-login-question {
  position: relative;
  bottom: 39px;
  padding: 20px 20px 26px;
  border: 2px solid hsl(210, 17%, 98%);
  width: 450px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 575px) {
  .landing-page-main .wrap-login-question {
    width: 350px;
  }
}

.landing-page-main p {
  font-size: 30px;
  margin-bottom: 1em;
}

@media only screen and (max-width: 480px) {
  .landing-page-main .wrap-login-question {
    width: 250px;
  }

  .landing-page-main p {
    font-size: 20px;
  }
}

.landing-page-main a {
  padding: 5px 10px;
  font-size: 20px;
}
