@-webkit-keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}

@-moz-keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}

@-o-keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}
