.btn-white {
  border: none;
  outline: none;
  color: hsl(210, 17%, 98%);
  background: transparent;
}

#change {
  font-size: 14px;
  font-family: "arial", sans-serif;
  border-bottom: 1px solid hsl(210, 17%, 98%);
}
