:root {
  --dTeal: #004c4c;
  --dTeal2: #006666;
  --teal: #008080;
  --lTeal: #66b2b2;
  --lTeal2: #b2d8d8;
  --dGray: #6c757d;
  --dGray-05: rgba(52, 58, 64, 0.5);
  --dGray-09: rgba(52, 58, 64, 0.9);
  --white: #f8f9fa;
  --gray: #d3d3d3;
  --gray2: #a9a9a9;
  --lBlue: #70a4cb;
  --lBlue2: #90c7f0;
  --lBlue3: #d4e4fd;
  --lBlue4: #00d5ff;
  --blue-08: rgba(0, 137, 171, 0.8);
  --dBlue: #035064;
  --dBlue-08: rgba(3, 80, 100, 0.8);
  --gold: #fec009;
  --gold-05: rgba(254, 192, 9, 0.5);
}
