@charset "UTF-8";

#main {
  position: relative;
  background-image: url(../../assets/img/world-wide-web-map-1024x575.jpg);
}

#main .wrap-overlay {
  background-color: var(--dGray-09);
  padding: 15px 0;
}

#title {
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--white);
  padding-bottom: 5px;
  border-bottom: 10px double var(--white);
}

#img-div {
  position: relative;
}

#image {
  width: 85%;
}

#img-caption {
  position: absolute;
  top: 10px;
  color: var(--gray);
  background-color: var(--dGray-05);
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.p-content {
  color: #fff;
  margin: 10px 0;
}

#tribute-link {
  color: var(--gray2);
}

#tribute-link:hover {
  color: var(--dGray);
}

@media only screen and (max-width: 480px) {
  #image {
    width: 100%;
  }

  #img-caption {
    top: 2px;
    padding: 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 767px) {
  #img-caption {
    top: 5px;
  }
}

@media only screen and (min-width: 992px) {
  #img-caption {
    font-size: 20px;
  }
}
