@charset "UTF-8";

#main {
  position: relative;
  background-image: url(../../assets/img/world-wide-web-map-1024x575.jpg);
}

#main .wrap-overlay {
  background-color: hsla(0, 0%, 0%, 0.8);
  min-height: 100vh;
}

#title {
  color: hsl(210, 17%, 98%);
  border-bottom: 10px double hsl(210, 17%, 98%);
}

#img-div {
  position: relative;
}

#image {
  width: 85%;
}

#img-caption {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -148px;
  color: hsl(0, 0%, 83%);
  background-color: hsla(210, 10%, 23%, 0.5);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.p-content {
  color: hsl(0, 0%, 100%);
}

#tribute-link {
  color: hsl(0, 0%, 66%);
}

#tribute-link:hover {
  color: hsl(208, 7%, 46%);
}

@media only screen and (min-width: 992px) {
  #img-caption {
    font-size: 20px;
    margin-left: -182px;
  }
}

@media only screen and (max-width: 480px) {
  #image {
    width: 100%;
  }

  #img-caption {
    top: 2px;
    padding: 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 767px) {
  #img-caption {
    top: 5px;
  }
}
