form {
  padding: 25px;
  background: #000;
  color: #f8f9fa;
  border: 2px solid #f8f9fa;
}

form input {
  margin-top: 10px;
  margin-bottom: 10px;
}

form img {
  width: 12px;
}

form a {
  float: right;
  margin: 5px 0 10px;
}

@media only screen and (max-width: 480px) {
  form a {
    float: left;
  }
}

#confirm-msg {
  display: none;
}

#reveal:checked ~ #reveal-btn #reveal-icon {
  background-image: url(../../../assets/img/eye-open.png);
}

#reveal-btn {
  position: relative;
}

#reveal-icon {
  position: absolute;
  display: inline-block;
  background-image: url(../../../assets/img/eye-close.png);
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

#remember {
  display: initial;
}

#submit,
#log-submit {
  width: 115px;
  height: 45px;
  font-size: 20px;
}

#submit:disabled {
  opacity: 0.2;
}
