.sec-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #000;
  z-index: 2;
}

.sec-sticky .grid {
  padding: 5px 0;
}

.sec-sticky .product-name span {
  color: #00aecd;
}

#nav-toggle:checked ~ #navcoll {
  visibility: visible;
  height: calc(100vh - 44px);
}

#nav-toggle:checked ~ #navcoll ul {
  visibility: visible;
  opacity: 1;
}

#nav-toggle:checked ~ #nav-toggle-icon span {
  background: transparent;
}

#nav-toggle:checked ~ #nav-toggle-icon span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -moz-transition: transform 0.5s, -moz-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
}

#nav-toggle:checked ~ #nav-toggle-icon span:after {
  top: 5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -moz-transition: transform 0.5s, -moz-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
}

#nav-toggle-icon {
  float: right;
  padding-top: 4px;
}

#nav-toggle-icon span,
#nav-toggle-icon span:before,
#nav-toggle-icon span:after {
  display: block;
  background: #f8f9fa;
  width: 32px;
  height: 4px;
}

#nav-toggle-icon span:before,
#nav-toggle-icon span:after {
  content: ".";
  font-size: 0;
  position: relative;
}

#nav-toggle-icon span:before {
  top: 9px;
}

#nav-toggle-icon span:after {
  top: 14px;
}

@media only screen and (min-width: 992px) {
  #nav-toggle-icon {
    display: none;
  }

  nav li {
    padding: 5px 25px;
  }

  nav li:nth-child(1n + 2) {
    border-left: 1px solid #a9a9a9;
  }
}

@media only screen and (max-width: 991px) {
  .sec-sticky .grid [class*="gcol"]:first-child {
    margin: 5px 0;
  }

  .sec-sticky .grid [class*="gcol"]:nth-child(2) {
    position: unset;
    margin-top: 2.5px;
  }

  nav #navcoll.wrap-navcoll {
    position: absolute;
    left: 0;
    top: 44px;
    width: 100vw;
    text-align: center;
    background: #000;
    border-top: 0.1px solid #343a40;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  nav .wrap-navcoll {
    height: 0;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
  }

  nav .menu-container {
    width: 160px;
    margin: 0 auto;
  }

  nav ul {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }

  nav li {
    padding: 10px 0;
  }

  nav li:nth-child(1n + 2) {
    border-top: 1px solid #a9a9a9;
  }
}

nav li .nav-link:before {
  content: ".";
  font-size: 0;
  position: absolute;
  border-bottom: 2px solid #00c3ca;
  height: 27px;
  width: 0;
}

nav li:first-child .nav-link:hover:before {
  width: 48px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

nav li:nth-child(2) .nav-link:hover:before {
  width: 83px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

nav li:nth-child(3) .nav-link:hover:before {
  width: 122px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

nav li:last-child .nav-link:hover:before {
  width: 75px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
