.container {
  height: 500px;
  background-color: #66b2b2;
  text-align: center;
  font-family: "arial", sans-serif;
  border: 5px solid #004c4c;
  border-radius: 20px;
}

.table {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.valign {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 2.5rem;
  color: #004c4c;
}
