@media only screen and (max-width: 991px) {
  nav .wrap-navcoll {
    visibility: hidden;
  }
}

nav ul {
  list-style: none;
  padding-left: 0;
}

@media only screen and (min-width: 992px) {
  nav ul > li {
    display: inline-block;
  }
}
