.btn-bank {
  border: 2px solid transparent;
  background: transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.btn-bank.major {
  font-size: 24px;
}

.btn-bank.major,
.btn-bank.minor {
  border: 2px solid #6c757d;
}

.btn-bank.major:hover,
.btn-bank.minor:hover {
  border: 2px solid #343a40;
  color: #6c757d;
}

i[class*="fa"] {
  cursor: pointer;
}

[id*="close"]:hover {
  color: #67b2b2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#open-signup-btn {
  font-weight: 700;
}

[class*="chevron"] {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

[class*="chevron"].active {
  transform: rotate(180deg);
}
