.wrap-card {
  padding: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@media only screen and (max-width: 575px) {
  .wrap-card {
    overflow-y: hidden;
  }
}
