form {
  width: 70%;
  margin: 0 auto;
}

#login-form,
#signup-form {
  width: 50%;
}

@media only screen and (max-width: 480px) {
  #login-form,
  #signup-form {
    width: 70%;
  }
}

#admin-settings-form.hide,
#user-settings-form,
#withdraw-form.hide label[for="withdraw-account"],
#withdraw-form.hide label[for="withdraw-account"] + br,
#withdraw-form.hide #withdraw-account,
#withdraw-form.hide #withdraw-account + br,
#deposit-form.hide label[for="deposit-account"],
#deposit-form.hide label[for="deposit-account"] + br,
#deposit-form.hide #deposit-account,
#deposit-form.hide #deposit-account + br,
#send-form.hide label[for="sender-account"],
#send-form.hide label[for="sender-account"] + br,
#send-form.hide #sender-account,
#send-form.hide #sender-account + br {
  display: none;
}

#user-settings-form.show {
  display: block;
}

i[id*="-msg"] {
  cursor: auto;
}

i[id*="-msg"].fa-check {
  color: green;
}

i[id*="-msg"].fa-times {
  color: red;
}

#search-name {
  width: 220px;
  vertical-align: top;
  padding: 0;
  border: none;
  outline: none;
  width: 0;
  visibility: hidden;
  opacity: 0;
  background: #f8f9fa;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}

#search-name:focus {
  border-bottom: 2px solid #343a40;
}

#connections-form {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#connections-form.show {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 575px) {
  #connections-form {
    height: 0;
    margin: 0;
  }

  #connections-form.show {
    height: 68px;
    margin: 0.5em 0;
  }
}

#connections-name {
  width: 40%;
}

#connections-account-num {
  width: 52%;
}

@media only screen and (max-width: 1399px) {
  #connections-name {
    width: 45%;
  }

  #connections-account-num {
    width: 46%;
  }
}

@media only screen and (max-width: 1199px) {
  #connections-name {
    width: 60%;
  }

  #connections-account-num {
    width: 70%;
    margin-top: 0.5em;
  }
}

@media only screen and (max-width: 991px) {
  #connections-name {
    width: 46%;
  }

  #connections-account-num {
    width: 44%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  #add-expense-form {
    width: 50%;
  }

  #connections-name {
    width: 65%;
  }

  #connections-account-num {
    width: 75%;
    margin-top: 0.5em;
  }
}

@media only screen and (max-width: 480px) {
  #add-expense-form {
    width: 80%;
  }
}

[id*="-amount"] {
  width: 60%;
}

[id*="-dec"] {
  width: 16%;
}

form .rflex input {
  margin: 0 5px;
}

form p,
label,
input {
  font-weight: 700;
}

[type="radio"] + label {
  font-weight: 400;
}
