form {
  width: 70%;
  margin: 0 auto;
}

#match-msg.fa-check {
  color: green;
}

#match-msg.fa-times {
  color: red;
}

[id*="-amount"] {
  width: 40%;
}

[id*="-dec"] {
  width: 15%;
}

form .rflex input {
  margin: 0 5px;
}
