form {
  width: 70%;
  margin: 0 auto;
}

#login-form,
#signup-form {
  width: 50%;
}

@media only screen and (max-width: 480px) {
  #login-form,
  #signup-form {
    width: 70%;
  }
}

#admin-settings-form.hide,
#user-settings-form,
#withdraw-form.hide label[for="withdraw-account"],
#withdraw-form.hide label[for="withdraw-account"] + br,
#withdraw-form.hide #withdraw-account,
#withdraw-form.hide #withdraw-account + br,
#deposit-form.hide label[for="deposit-account"],
#deposit-form.hide label[for="deposit-account"] + br,
#deposit-form.hide #deposit-account,
#deposit-form.hide #deposit-account + br,
#send-form.hide label[for="sender-account"],
#send-form.hide label[for="sender-account"] + br,
#send-form.hide #sender-account,
#send-form.hide #sender-account + br {
  display: none;
}

#user-settings-form.show {
  display: block;
}

i[id*="-msg"] {
  cursor: auto;
}

i[id*="-msg"].fa-check {
  color: green;
}

i[id*="-msg"].fa-times {
  color: red;
}

#search-name {
  width: 220px;
  vertical-align: top;
  padding: 0;
  border: none;
  outline: none;
  width: 0;
  visibility: hidden;
  opacity: 0;
  background: #f8f9fa;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}

#search-name:focus {
  border-bottom: 2px solid #343a40;
}

#connections-form {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#connections-form.show {
  visibility: visible;
  opacity: 1;
}

#connections-name {
  width: 40%;
}

#connections-account-num {
  width: 52%;
}

[id*="-amount"] {
  width: 60%;
}

[id*="-dec"] {
  width: 16%;
}

form .rflex input {
  margin: 0 5px;
}

form p,
label,
input {
  font-weight: 700;
}

[type="radio"] + label {
  font-weight: 400;
}

@media only screen and (max-width: 575px) {
  #add-form,
  #connections-form,
  #withdraw-form,
  #deposit-form,
  #send-form {
    visibility: hidden;
    opacity: 0;
    height: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }

  #open-add-form-btn.active ~ #add-form,
  #open-connections-form-btn.active ~ #connections-form,
  #open-withdraw-form-btn.active ~ .table #withdraw-form,
  #open-deposit-form-btn.active ~ .table #deposit-form,
  #open-send-form-btn.active ~ .table #send-form {
    visibility: visible;
    opacity: 1;
  }

  #open-add-form-btn.active ~ #add-form {
    height: 350px;
  }

  #open-withdraw-form-btn.active ~ .table #withdraw-form,
  #open-deposit-form-btn.active ~ .table #deposit-form {
    height: 146px;
  }

  #open-send-form-btn.active ~ .table #send-form {
    height: 200px;
  }
}

@media only screen and (max-width: 480px) {
  #open-add-form-btn.active ~ #add-form {
    height: 374px;
  }

  #open-send-form-btn.active ~ .table #send-form {
    height: 248px;
  }
}
