.wrap-modal {
  background: rgba(52, 58, 64, 0.8);
}

.sec-modal {
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#343a40),
    color-stop(#f8f9fa),
    to(#67b2b2)
  );
  background-image: -webkit-linear-gradient(
    top left,
    #343a40,
    #f8f9fa,
    #67b2b2
  );
  background-image: -moz-linear-gradient(top left, #343a40, #f8f9fa, #67b2b2);
  background-image: -o-linear-gradient(top left, #343a40, #f8f9fa, #67b2b2);
  background-image: linear-gradient(to bottom right, #343a40, #f8f9fa, #67b2b2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.sec-modal.hide {
  visibility: hidden;
  opacity: 0;
}

.sec-modal .cont {
  position: relative;
  min-height: 100vh;
}

.sec-modal .wrap-login {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.sec-modal .wrap-login.hide {
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 480px) {
  .sec-modal h1,
  .sec-modal h2 {
    text-align: center;
  }
}

.sec-modal .wrap-login img {
  width: 55px;
}

#open-signup-btn {
  text-decoration: underline;
}

.sec-modal .wrap-signup {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.sec-modal .wrap-signup.show {
  visibility: visible;
  opacity: 1;
}

.sec-modal .wrap-signup img {
  width: 50px;
}

#back-signup-btn span {
  position: relative;
  right: 0;
}

#back-signup-btn:hover span {
  right: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.wrap-modal,
#acc-table td div {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.wrap-modal.show,
#acc-table td div.show {
  visibility: visible;
  opacity: 1;
}

.wrap-modal-inner,
#acc-table td div {
  width: 50vw;
  height: 50vh;
  padding: 25px;
  background: #fff;
  border: 2px solid #343a40;
}

.wrap-modal i[id*="-btn"],
#acc-table td div i {
  float: right;
}

.wrap-modal form,
.wrap-modal ul,
#acc-table td div ul {
  padding-right: 20px;
}

.wrap-modal ul,
#acc-table td div ul {
  height: 100%;
  margin-right: 40px;
}

#settings-modal .wrap-modal-inner {
  width: 420px;
  height: auto;
}

@media only screen and (max-width: 1399px) {
  .wrap-modal-inner,
  #acc-table td div {
    width: 70vw;
  }

  #settings-modal .wrap-modal-inner {
    width: 30vw;
  }
}

#acc-table td div {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

body:before {
  content: ".";
  font-size: 0;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(52, 58, 64, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

body.show:before {
  visibility: visible;
  opacity: 1;
}

#profile-modal .wrap-modal-inner {
  width: 360px;
  height: auto;
}

#profile-modal h6,
#profile-modal p {
  padding-right: 50px;
}

@media only screen and (max-width: 1199px) {
  .wrap-modal-inner,
  #acc-table td div {
    width: 80vw;
  }

  #settings-modal .wrap-modal-inner {
    width: 40vw;
  }
}

@media only screen and (max-width: 991px) {
  #settings-modal .wrap-modal-inner {
    width: 50vw;
  }
}

@media only screen and (max-width: 767px) {
  #settings-modal .wrap-modal-inner {
    width: 64vw;
  }
}

@media only screen and (max-width: 575px) {
  #settings-modal .wrap-modal-inner {
    width: 75vw;
  }

  #add-form,
  #withdraw-form,
  #deposit-form,
  #send-form {
    visibility: hidden;
    opacity: 0;
    height: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }

  #open-add-form-btn.active ~ #add-form,
  #open-withdraw-form-btn.active ~ .table #withdraw-form,
  #open-deposit-form-btn.active ~ .table #deposit-form,
  #open-send-form-btn.active ~ .table #send-form {
    visibility: visible;
    opacity: 1;
  }

  #open-add-form-btn.active ~ #add-form {
    height: 362px;
  }

  #open-withdraw-form-btn.active ~ .table #withdraw-form,
  #open-deposit-form-btn.active ~ .table #deposit-form {
    height: 158px;
  }

  body.user #open-withdraw-form-btn.active ~ .table #withdraw-form,
  body.user #open-deposit-form-btn.active ~ .table #deposit-form {
    height: 104px;
  }

  #open-send-form-btn.active ~ .table #send-form {
    height: 212px;
  }

  body.user #open-send-form-btn.active ~ .table #send-form {
    height: 158px;
  }

  main #connections-wrap .wrap-connections-table {
    visibility: hidden;
    opacity: 0;
    height: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }

  #open-connections-wrap-btn.active ~ .wrap-connections-table {
    visibility: visible;
    opacity: 1;
    height: 200px;
    margin-top: 0.5em;
  }
}

@media only screen and (max-width: 480px) {
  .wrap-modal-inner,
  #acc-table td div {
    padding: 15px;
  }

  #settings-modal .wrap-modal-inner {
    width: 80vw;
    padding: 15px;
  }

  #acc-table td div .wrap-modal-inner {
    width: 85vw;
  }

  #profile-modal .wrap-modal-inner {
    width: 275px;
  }

  #open-add-form-btn.active ~ #add-form {
    height: 386px;
  }

  #open-withdraw-form-btn.active ~ .table #withdraw-form,
  #open-deposit-form-btn.active ~ .table #deposit-form {
    height: 158px;
  }

  #open-send-form-btn.active ~ .table #send-form {
    height: 260px;
  }

  body.user #open-send-form-btn.active ~ .table #send-form {
    height: 182px;
  }
}
