html {
  background-color: hsl(210, 10%, 23%);
  color: hsl(210, 17%, 98%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

html.light {
  background-color: hsl(210, 17%, 98%) !important;
}

html.light header,
html.light header .cont:first-child,
html.light footer {
  background-color: hsl(0, 0%, 83%) !important;
}

html.light .wrap-overlay {
  background-color: hsl(210, 17%, 98%) !important;
}

html.light,
html.light section,
html.light div,
html.light input,
html.light button,
html.light {
  color: hsl(0, 0%, 0%) !important;
  border-color: hsl(0, 0%, 0%) !important;
}

html.light .wrap-quotes {
  background-image: url(../../../assets/img/skies.jpg) !important;
}

html.light ::-ms-input-placeholder {
  color: hsl(0, 0%, 0%) !important;
}

html.light :-ms-input-placeholder {
  color: hsl(0, 0%, 0%) !important;
}

html.light ::placeholder {
  color: hsl(0, 0%, 0%) !important;
}

body {
  font-size: 25px;
}

::-ms-input-placeholder {
  color: hsl(210, 17%, 98%);
}

:-ms-input-placeholder {
  color: hsl(210, 17%, 98%);
}

::placeholder {
  color: hsl(210, 17%, 98%);
}

input {
  border: none;
  outline: none;
  border-bottom: 2px solid hsl(210, 17%, 98%);
  background: transparent;
  color: hsl(210, 17%, 98%);
  padding-bottom: 5px;
}

input:-internal-autofill-selected,
input:-internal-autofill-previewed {
  background-color: transparent !important;
}
