@charset "UTF-8";

html {
  font-size: 1.5vmin;
}

main {
  background-image: -webkit-gradient(linear, left top, right top, from(#14406f), color-stop(#a4abbd), to(#6b283b));
  background-image: -webkit-linear-gradient(left, #14406f, #a4abbd, #6b283b);
  background-image: -moz-linear-gradient(left, #14406f, #a4abbd, #6b283b);
  background-image: -o-linear-gradient(left, #14406f, #a4abbd, #6b283b);
  background-image: linear-gradient(to right, #14406f, #a4abbd, #6b283b);
}

.cont-fl {
  position: relative;
}

.cont-fl .tbl {
  min-height: 100vh;
}

.cont-fl h1 {
  font-size: 6vmin;
  font-family: "IRON MAN OF WAR 001C NCV", sans-serif;
  color: #a4abbd;
}

.cont-fl h1.txtfx {
  text-shadow: 0 0.2vmin 1vmin rgba(0, 0, 0, 0.5);
}

.cont-fl h1 span:first-child {
  color: #14406f;
}

.cont-fl h1 span:nth-child(2) {
  color: #6b283b;
}

.cont-fl .valign > p {
  font-family: "American Captain", sans-serif;
  font-size: 2.5vmin;
  display: inline-block;
  position: relative;
  left: 2vmin;
}

.cont-fl #tooltip {
  display: none;
}

.cont-fl #tooltip:checked ~ .wrap-overlay {
  visibility: visible;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.cont-fl .valign > label {
  position: relative;
  z-index: 3;
  vertical-align: middle;
  left: 32vmin;
}

#tooltip-icon {
  height: 4vmin;
}

.cont-fl .wrap-overlay {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--dGray-05);
  z-index: 2;
}

.cont-fl .tooltips {
  background: #a4abbd;
  padding: 0.2em;
  width: 90vmin;
  font-family: "American Captain", sans-serif;
  font-size: 4vmin;
}

.tooltips fieldset {
  border-width: 0.3vmin;
  -webkit-margin-start: 0.2vmin;
  -moz-margin-start: 0.2vmin;
  margin-inline-start: 0.2vmin;
  -webkit-margin-end: 0.2vmin;
  -moz-margin-end: 0.2vmin;
  margin-inline-end: 0.2vmin;
}

.tooltips fieldset:first-child {
  color: #14406f;
}

.tooltips fieldset:nth-child(2) {
  color: #6b283b;
}

.tooltips p {
  margin-bottom: 0.5em;
  font-size: 3.5vmin;
}

.tooltips img {
  height: 6vmin;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.chess-board {
  width: 86vmin;
  border: 3vmin solid #343a40;
  margin: 0 auto;
}

.chess-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vmin;
  -ms-grid-columns: 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin 10vmin;
  grid-template: 10vmin / repeat(8, 10vmin);
}

.chess-row:nth-child(odd) .chess-square:nth-child(odd),
.chess-row:nth-child(even) .chess-square:nth-child(even) {
  background: #a4abbd;
}

.chess-row:nth-child(odd) .chess-square:nth-child(even),
.chess-row:nth-child(even) .chess-square:nth-child(odd) {
  background: #14406f;
}

.chess-square img {
  cursor: pointer;
  height: 90%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chess-square input {
  display: none;
}

.chess-square label {
  position: relative;
  width: 10vmin;
  height: 10vmin;
}

.chess-square input:checked ~ label {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#falcon-pos:checked ~ label {
  margin-top: 20vmin;
  margin-left: 40vmin;
}

#black-widow-pos:checked ~ label {
  margin-right: 40vmin;
}

#ant-man-pos:checked ~ label {
  margin-top: 140vmin;
}

#iron-man-pos:checked ~ label {
  margin-right: 20vmin;
}

#winter-soldier-pos:checked ~ label {
  margin-top: 20vmin;
  margin-left: 20vmin;
}

#vision-pos:checked ~ label {
  margin-left: 20vmin;
  margin-bottom: 40vmin;
}

#scarlet-witch-pos:checked ~ label {
  margin-top: 20vmin;
  z-index: 1;
}

#black-panther-pos:checked ~ label {
  margin-bottom: 20vmin;
}

#cap-america-pos:checked ~ label {
  margin-top: 20vmin;
}

#spiderman-g2-pos:checked ~ label {
  margin-bottom: 40vmin;
}

#hawkeye-h7-pos:checked ~ label {
  margin-top: 20vmin;
  margin-right: 20vmin;
  z-index: 1;
}
