nav#side-bar button#nav-btn {
  background: #f8f9fa;
  border-color: #f8f9fa;
  top: 35px;
  left: 4px;
  float: right;
}

#nav-btn.active ~ #side-coll {
  margin-right: 0;
}

#side-coll {
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: top;
  background: #f8f9fa;
  margin-right: -280px;
}

.menu-container {
  padding: 30px 90px;
}
