.landing-page-main {
  background-image: url(../../assets/img/predator-bg.jpeg);
}

.landing-page-main .wrap-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.landing-page-main .tbl {
  min-height: 100vh;
}

.landing-page-main p {
  font-size: 30px;
}

.landing-page-main a {
  padding: 5px 10px;
  font-size: 20px;
}
