footer {
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  footer .cont {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  footer .grid [class*="gcol"] {
    padding-left: 50px;
  }

  footer label {
    display: none;
  }

  footer li {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 991px) {
  footer .cont {
    text-align: center;
  }

  footer .cont p {
    display: none;
  }

  footer .grid [class*="gcol"] {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  footer .grid [class*="gcol"]:nth-child(1n + 2) {
    border-top: 1px solid #6c757d;
  }

  footer ul {
    height: 0;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
  }

  footer li {
    visibility: hidden;
    opacity: 0;
    padding: 10px 0;
  }
}

footer label {
  position: relative;
  top: 10px;
}

footer label:after {
  content: "+";
  float: right;
  font-size: 30px;
  position: relative;
  bottom: 12px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

input:checked ~ ul {
  margin-top: 35px;
  background: #6c757d;
}

#about:checked ~ label[for="about"],
#service:checked ~ label[for="service"],
#triton:checked ~ label[for="triton"],
#helios:checked ~ label[for="helios"] {
  color: #00aecd;
}

#about:checked ~ label[for="about"]:after,
#service:checked ~ label[for="service"]:after,
#triton:checked ~ label[for="triton"]:after,
#helios:checked ~ label[for="helios"]:after {
  color: #00aecd;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#about:checked ~ .about,
#service:checked ~ .service,
#helios:checked ~ .helios {
  height: 132px;
}

#triton:checked ~ .triton {
  height: 176px;
}

#about:checked ~ .about li,
#service:checked ~ .service li,
#triton:checked ~ .triton li,
#helios:checked ~ .helios li {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

footer .talign {
  border-top: 0.1px solid #6c757d;
  background: #000;
}
