form {
  padding: 25px;
  background: hsl(0, 0%, 0%);
  color: hsl(210, 17%, 98%);
  border: 2px solid hsl(210, 17%, 98%);
}

form input {
  margin-top: 10px;
  margin-bottom: 10px;
}

form img {
  width: 12px;
}

form a {
  float: right;
  margin: 5px 0;
}

@media only screen and (max-width: 480px) {
  form a {
    float: left;
    margin: 10px 0 20px;
  }
}

#confirm-msg {
  display: none;
}

#reveal:checked ~ #reveal-btn #reveal-icon {
  background-image: url(../../../assets/img/eye-open.png);
}

#reveal-icon {
  background-image: url(../../../assets/img/eye-close.png);
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

#remember {
  display: initial;
}

#submit,
#log-submit {
  width: 115px;
  height: 45px;
  font-size: 20px;
}

#submit:disabled {
  opacity: 0.2;
}
