header {
  background: #000;
  border-bottom: 0.1px solid #343a40;
}

header .grid {
  padding: 5px 0;
}

header [class*="gcol"]:nth-child(2) {
  position: relative;
}

header .brand {
  font-size: 20px;
  font-weight: 700;
}

.brand span {
  position: relative;
  bottom: 12px;
}

#header-img {
  height: 45px;
}

@media only screen and (max-width: 480px) {
  header .brand {
    font-size: 14px;
  }

  #header-img {
    height: 35px;
  }

  .brand span {
    bottom: 10px;
  }
}

#user:checked ~ .wrap-user {
  visibility: visible;
  opacity: 1;
}

header .user {
  height: 50px;
  border: 2px solid #6c757d;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

label[for="user"]:hover .user {
  border: 2px solid #00aecd;
}

label[for="user"] span {
  position: relative;
  bottom: 18px;
  padding-left: 8px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

label[for="user"]:hover span {
  color: #00aecd;
}

header .wrap-user {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  top: 63px;
  right: 0;
  z-index: 5;
  background: #6c757d;
  padding: 15px;
  padding-left: 60px;
}

@media only screen and (max-width: 480px) {
  header .user {
    height: 40px;
  }

  label[for="user"] span {
    bottom: 15px;
    padding-left: 5px;
  }

  header .wrap-user {
    top: 52px;
  }
}

.wrap-user li {
  margin: 5px 0;
}
