.animate {
  -webkit-animation: hidden 0.6s linear forwards;
  -moz-animation: hidden 0.6s linear forwards;
  -o-animation: hidden 0.6s linear forwards;
  animation: hidden 0.6s linear forwards;
}

@-webkit-keyframes hidden {
  0% {
    position: fixed;
  }

  99% {
    position: fixed;
  }

  100% {
    position: static;
  }
}

@-moz-keyframes hidden {
  0% {
    position: fixed;
  }

  99% {
    position: fixed;
  }

  100% {
    position: static;
  }
}

@-o-keyframes hidden {
  0% {
    position: fixed;
  }

  99% {
    position: fixed;
  }

  100% {
    position: static;
  }
}

@keyframes hidden {
  0% {
    position: fixed;
  }

  99% {
    position: fixed;
  }

  100% {
    position: static;
  }
}

.sec-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 6;
  -webkit-animation: index 0.6s linear forwards;
  -moz-animation: index 0.6s linear forwards;
  -o-animation: index 0.6s linear forwards;
  animation: index 0.6s linear forwards;
}

@-webkit-keyframes index {
  0% {
    z-index: 6;
    background: rgba(0, 0, 0, 0.9);
  }

  75% {
    background: rgba(0, 0, 0, 0.9);
  }

  99% {
    z-index: 6;
    background: transparent;
  }

  100% {
    z-index: -1;
    visibility: hidden;
  }
}

@-moz-keyframes index {
  0% {
    z-index: 6;
    background: rgba(0, 0, 0, 0.9);
  }

  75% {
    background: rgba(0, 0, 0, 0.9);
  }

  99% {
    z-index: 6;
    background: transparent;
  }

  100% {
    z-index: -1;
    visibility: hidden;
  }
}

@-o-keyframes index {
  0% {
    z-index: 6;
    background: rgba(0, 0, 0, 0.9);
  }

  75% {
    background: rgba(0, 0, 0, 0.9);
  }

  99% {
    z-index: 6;
    background: transparent;
  }

  100% {
    z-index: -1;
    visibility: hidden;
  }
}

@keyframes index {
  0% {
    z-index: 6;
    background: rgba(0, 0, 0, 0.9);
  }

  75% {
    background: rgba(0, 0, 0, 0.9);
  }

  99% {
    z-index: 6;
    background: transparent;
  }

  100% {
    z-index: -1;
    visibility: hidden;
  }
}

.sec-loader div {
  background: #000;
  position: relative;
  border-left: 5px solid #6c757d;
  border-right: 5px solid #6c757d;
}

.sec-loader .top {
  height: 50vh;
  border-bottom: 5px solid #6c757d;
  -webkit-animation: open-top 0.6s linear forwards;
  -moz-animation: open-top 0.6s linear forwards;
  -o-animation: open-top 0.6s linear forwards;
  animation: open-top 0.6s linear forwards;
}

@-webkit-keyframes open-top {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 0;
  }

  100% {
    bottom: 50vh;
  }
}

@-moz-keyframes open-top {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 0;
  }

  100% {
    bottom: 50vh;
  }
}

@-o-keyframes open-top {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 0;
  }

  100% {
    bottom: 50vh;
  }
}

@keyframes open-top {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 0;
  }

  100% {
    bottom: 50vh;
  }
}

.sec-loader img {
  position: relative;
  top: 50px;
  border: 5px solid #6c757d;
  z-index: 6;
}

.sec-loader .bot {
  height: 50vh;
  border-top: 5px solid #6c757d;
  -webkit-animation: open-bot 0.6s linear forwards;
  -moz-animation: open-bot 0.6s linear forwards;
  -o-animation: open-bot 0.6s linear forwards;
  animation: open-bot 0.6s linear forwards;
}

@-webkit-keyframes open-bot {
  0% {
    top: 0;
  }

  50% {
    top: 0;
  }

  100% {
    top: 50vh;
  }
}

@-moz-keyframes open-bot {
  0% {
    top: 0;
  }

  50% {
    top: 0;
  }

  100% {
    top: 50vh;
  }
}

@-o-keyframes open-bot {
  0% {
    top: 0;
  }

  50% {
    top: 0;
  }

  100% {
    top: 50vh;
  }
}

@keyframes open-bot {
  0% {
    top: 0;
  }

  50% {
    top: 0;
  }

  100% {
    top: 50vh;
  }
}
