@media only screen and (max-width: 991px) {
  nav#nav-bar #nav-coll {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
}
@media only screen and (max-width: 991px) {
  nav#nav-bar #nav-coll .menu-container > ul > li {
    display: block;
  }
}
nav#nav-bar .menu-container > ul > li {
  display: inline-block;
}
nav#nav-bar .menu-container ul {
  list-style: none;
  padding-left: 0;
}
