.chess-board {
  width: 86vmin;
  border: 3vmin solid hsl(210, 10%, 23%);
  background: hsl(210, 10%, 23%);
  margin: 0 auto;
}

.chess-row {
  -ms-grid-rows: 10vmin;
  -ms-grid-columns: (10vmin) [8];
  grid-template: 10vmin / repeat(8, 10vmin);
}

.chess-row:nth-child(odd) .chess-square:nth-child(odd),
.chess-row:nth-child(even) .chess-square:nth-child(even) {
  background: hsl(223, 16%, 69%);
}

.chess-row:nth-child(odd) .chess-square:nth-child(even),
.chess-row:nth-child(even) .chess-square:nth-child(odd) {
  background: hsl(211, 69%, 26%);
}

.chess-square {
  position: relative;
}

.chess-square p {
  color: hsl(223, 16%, 69%);
  font-family: "American Captain", sans-serif;
  font-size: 3vmin;
  width: 2vmin;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chess-square .left-pos {
  position: absolute;
  right: 10.6vmin;
}

.chess-square .bottom-pos {
  position: absolute;
  top: 9.25vmin;
}

.chess-square img {
  cursor: pointer;
  height: 80%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chess-square img:hover {
  height: 90%;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}

.chess-square label {
  position: relative;
  width: 10vmin;
  height: 10vmin;
  z-index: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
