th,
td[colspan="4"] {
  border: 2px solid #000;
}

#table-inner-wrap td {
  border: 2px solid transparent;
}

#add-whitelist.hide,
#remove-whitelist.hide {
  display: none;
}

#table {
  width: 530px;
}

#table th:first-child {
  width: 53%;
}

#table th:nth-child(2) {
  width: 50%;
}

#table th:nth-child(3),
#table th:nth-child(4) {
  width: 40%;
}

#table th:last-child {
  width: 20%;
  padding-right: 18px;
}

#table td:nth-child(2) {
  width: 32%;
  cursor: pointer;
}

#table td:nth-child(3) {
  width: 25.5%;
}

#table td:last-child {
  width: 9%;
}
