html {
  background-color: #343a40;
  color: #f8f9fa;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 5px #f8f9fa;
  -moz-box-shadow: inset 0 0 5px #f8f9fa;
  box-shadow: inset 0 0 5px #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background: #00aecd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00c3ca;
}

a {
  color: #f8f9fa;
}

a:hover {
  color: #00aecd;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

input[type="checkbox"] {
  display: none;
}
